.contact {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e53e31;
}

.contact-info span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}